@namespace HyperUIWidget
@using Microsoft.AspNetCore.Components.Web;

<button @onclick=OnClickCallback class="@(ShouldAlwaysHighlight ? "always-hightlight" : null) @(CilpPathAnimationDirectionDefault.GetAnimationDefaultClassFromDirection(AnimationDirection)) @(ElementClass)" style="@(ElementStyle)">
    <div class="hover-cover child-highlight">
        @(ContentOnHover == null ? ChildContent : ContentOnHover)
    </div>
    <div>
        @(ChildContent)
    </div>
</button>

@code {
    /// <summary>
    /// 子组件
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// <para>Hover遮罩的子组件</para>
    /// <para>如为空，则默认为ChildContent内容</para>
    /// </summary>
    [Parameter] public RenderFragment? ContentOnHover { get; set; }

    /// <summary>
    /// 是否一直高亮
    /// </summary>
    [Parameter] public bool ShouldAlwaysHighlight { get; set; } = false;

    /// <summary>
    /// Hover遮罩动画方向
    /// </summary>
    [Parameter] public CilpPathAnimationDirectionDefault.DirectionDefault AnimationDirection { get; set; } = CilpPathAnimationDirectionDefault.DirectionDefault.FromLeft;

    /// <summary>
    /// 组件的class
    /// </summary>
    [Parameter] public string? ElementClass { get; set; }

    /// <summary>
    /// 组建的style
    /// </summary>
    [Parameter] public string? ElementStyle { get; set; }

    /// <summary>
    /// 触发OnClick事件时回调
    /// </summary>
    [Parameter] public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
